/* style001.css */

body
{
    margin: 2px 4px;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

button
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 12px;
    padding: 5px 4px;
    margin: 2px 2px;
    background-color: rgb(0, 150, 255);
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
}

button:hover
{
    border-color: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
}

button:active
{
    position: relative;
    top: 1px;
    color: rgb(255, 0, 255);
    /* transform: translateY(2px); */
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

